section {
	width: 90%;
	margin-left: 5%;
	margin-top: 25px;
	margin-bottom: 25px;

	h2 {
		margin: 10px 0;
		font-weight: 700;
		color: #ffffff;
	}

	.tittle {
		font-size: 20px;
		color: gray;
		margin-bottom: 30px;
	}

	.back {
		background: transparent;
		border: 1px solid gray;
		color: #e1e1e1;
		padding: 8px 18px;
		border-radius: 999px;
		cursor: pointer;
		transition: 0.2s;
		margin: 25px 0 20px;

		&:hover {
			background-color: rgba(128, 128, 128, 0.1);
		}
	}

	.card {
		background-color: #212529;
		border: 2px solid gray;
		border-radius: 16px;
		padding: 25px;
		width: 100%;
	}

	.card.primary {
		display: flex;
		flex-direction: column;
		gap: 12px;
		min-height: 100%;

		.d-grid {
			margin-top: auto;
		}
	}

	.layout {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 25px;
		width: 100%;
		margin: 0 auto;
	}

	.primary {
		flex: 1 1 45%;
		min-width: 360px;
	}

	.side-panel {
		display: flex;
		flex-direction: column;
		gap: 24px;
		flex: 1 1 45%;
		min-width: 320px;
	}

	.secondary {
		h3 {
			margin-top: 0;
			margin-bottom: 12px;
			color: #ffffff;
		}

		p {
			color: #c5c5c5;
			margin-bottom: 16px;
			line-height: 1.4;
		}

		ul {
			padding-left: 18px;
			margin: 0;
			list-style: disc;

			li {
				margin-bottom: 8px;
				color: #e3e3e3;

				span {
					font-weight: 600;
					color: #ffffff;
				}
			}
		}
	}

	.photo-card {
		.photo-wrapper {
			width: 100%;
			border-radius: 12px;
			overflow: hidden;
			height: 200px;
			background: #16171969;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 16px;
		}

		img {
			max-width: 100%;
			max-height: 100%;
			width: 90px;
			height: auto;
			object-fit: contain;
			transition: transform 0.3s ease;
		}

		img:hover {
			transform: scale(1.03);
		}

		.caption {
			margin: 16px 0 0;
			color: #c5c5c5;
			font-size: 15px;
		}
	}

	@media (max-width: 960px) {
		.layout {
			flex-direction: column;
		}

		.card {
			max-width: 100%;
		}
	}

	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);

		&:last-of-type {
			border-bottom: none;
		}

		p {
			color: gray;
			font-size: 18px;
			margin: 0;
		}

		.value {
			font-weight: 600;
			color: #ffffff;
			font-size: 20px;
		}
	}
}

:has(.custom-modal) {
  border-radius: 20px;
}

.custom-modal {
  background-color: #212529; 
  color: white; 
	

  .modal-header {
    border-bottom: 1px solid #444; 
  }

  .modal-body {
    .main-text {
      color: white; 
    }

    .sub-text {
      color: #a0a0a0; 
    }
  }

  .modal-footer {
    border-top: 1px solid #444; 
  }

	.btn-close:focus, 
    .btn-close:active {
      box-shadow: none !important;       
	}
}
