<section>
  <form class="searchForm">
    <div class="searchField">
      <input name="searchText" #searchText="ngModel" class="form-control searchBox" [(ngModel)]="searchForm.search"
        required pattern="^[A-ź\s0-9-]{2,20}$" autocomplete="off" (keyup)="searchCars()">
      <label for="searchText">
        <span class="material-symbols-outlined">search</span>
      </label>
    </div>

    <select class="form-select searchSelect" name="column" #searchText="ngModel" [(ngModel)]="searchForm.column"
      required (change)="searchCars()">
      <option value="brand">Marka</option>
      <option value="model">Model</option>
    </select>
    
    <div class="filterGrid">
      <div class="form-check form-switch mb-3">
        <input id="isRented" name="isRented" type="checkbox" class="form-check-input"
          [(ngModel)]="searchForm.isRented" (change)="searchCars()">
        <label class="form-check-label" for="isRented">Samochody wynajęte</label>
      </div>



      <div class="form-check form-switch mb-3">
        <input id="isNotRented" name="isNotRented" type="checkbox" class="form-check-input"
          [(ngModel)]="searchForm.isNotRented" (change)="searchCars()">
        <label class="form-check-label" for="isNotRented">Samochody nie wynajęte</label>
      </div>

            <input name="searchText" #searchText="ngModel" class="form-control searchBox" [(ngModel)]="searchForm.minPrice"
          required pattern="^[0-9]{2,20}$" autocomplete="off" (keyup)="searchCars()" placeholder="Cena minimana">

      <input name="searchText" #searchText="ngModel" class="form-control searchBox" [(ngModel)]="searchForm.maxPrice"
          required pattern="^[0-9]{2,20}$" autocomplete="off" (keyup)="searchCars()" placeholder="Cena maksymalna">
    </div>
  </form>

  @if (pagedCars.length > 0) {
  <h2>Nasze samochody:</h2>

  <div class="grid">
    @for (car of pagedCars; track car) {
    <div [routerLink]="['/view-car', car.id]" class="carCard" [class.rented]="car.isRented">
      <div class="carRow">
        <p class="gray">marka:</p>
        <p class="bold">{{car.brand}}</p>
      </div>
      <div class="carRow">
        <p class="gray">model:</p>
        <p class="bold">{{car.model}}</p>
      </div>
      <div class="carRow">
        <p class="gray">cena:</p>
        <p class="bold">{{car.price + ' zł/h'}}</p>
      </div>

      <div class="d-grid gap-2">
        <div class="statusBadge" [class.active]="car.isRented" aria-hidden="true">
          <span class="material-symbols-outlined">
            {{ car.isRented ? 'lock' : 'check_circle' }}
          </span>
          {{ car.isRented ? ' wynajęty ' : ' dostępny ' }}
        </div>
        <button class="btn btn-outline-secondary seeMoreBtn" type="button">Zobacz szczegóły</button>
      </div>
    </div>
    }
  </div>
  } @else {
  <p class="noResults">Brak wyników</p>
  }

  <nav class="paginator" aria-label="Page navigation">
    <button (click)="openModal('add', $event)" class="btn btn-outline-success" type="button" routerLink="/main-cars">
      Dodaj Samochód
    </button>
    <ul>
      <li (click)="prevPage()" [class.disabled]="page === 1">
        ‹
      </li>

      <li class="current">Strona {{page}}</li>

      <li (click)="nextPage()" [class.disabled]="page * limit >= total">
        ›
      </li>
    </ul>
  </nav>
</section>