header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 64px 50px;

    user-select: none;

    .name {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 7rem;
        }

        h1 {
            font-size: 5rem;
            font-family: "Science Gothic", sans-serif;
            font-weight: 400;

            transition: 0.5s;

            cursor: default;
        }
    }

    span {
        font-weight: 100;
        font-size: 5rem;

        transition: 0.5s;

        cursor: pointer;
    }

    span:hover {
        color: #1a6cac;
        transition: 0.5s;
    }
}